#if($vsecurity.authorizedUser)
	<br/><br/>
    Welcome USER - ${vsecurity.userName}
#elseif($vsecurity.authorizedAdmin)
     <br/><br/>
    Welcome ADMIN - ${vsecurity.userName}
#end
<br/><br/>
Features
<ul>
#foreach($feature in $features)
<li>$feature</li>
#end
</ul>
<br/><br/>
<a href="logout">Log Out</a>